.advantages-area {
    width: 88vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.advantages {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--light2);
    padding: 4vh 1vw;
    border-radius: 50px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    cursor: default;
}

.advantage-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bluemedium);
    padding: 1vh 1.5vw;
    border-radius: 40px;
}


.advantage-info h2 {
    font-size: 1.5vw;
    font-weight: 400;
    color: var(--light3);
}

.advantage-info i {
    font-size: 1.5vw;
    color: var(--light3);
    margin-right: 1vw;
}

.how-work {
    margin-top: 16vh;
    width: 88vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.how-work::before {
    content: '';
    position: absolute;
    width: 88%;
    height: 100%;
    background: var(--bluemedium);
    border-radius: 35px;
    z-index: 1;
    transform: rotate(0deg);
    box-shadow: 0 0px 15px rgba(0,0,0,0.3);
    animation: work2 0s ease-in-out infinite;
    transition: 0.3s ease all;
}

.how-work::after {
    content: '';
    position: absolute;
    width: 88%;
    height: 100%;
    background: var(--bluedark);
    border-radius: 35px;
    z-index: 1;
    transform: rotate(0deg);
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    animation: work 0s ease-in-out infinite;
    transition: 0.3s ease all;
}

.how-work:hover::after {
    animation: work 5s ease-in-out infinite;
}

.how-work:hover::before {
    animation: work2 5s ease-in-out infinite;
}

@keyframes work {
    0% {
        transform: rotate(0deg);
    }
    35%{
        transform: rotate(2deg);
    }
    85% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes work2 {
    0% {
        transform: rotate(0deg);
    }
    35%{
        transform: rotate(-2deg);
    }
    85% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.inner-how-work {
    background: var(--light2);
    width: 90%;
    padding: 8vh 1.5vw;
    border-radius: 35px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 799;
    cursor: default;
    flex-wrap: wrap;
}

.how-work-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.how-work-box h2 {
    text-align: start;
    font-size: 2vw;
    font-weight: 600;
    line-height: 2.5vw;
    color: var(--fontcolor1);
}

.how-work-box img {
    width: 100%;
    height: 28vh;
    margin-top: 2vh;
    border-radius: 25px;
}

.how-work-box p {
    font-size: 1.2vw;
    margin-top: 2vh;
    text-align: start;
    color: var(--fontcolor2);
}

.work-tittle {
    width: 75%;
    text-align: center;
    margin-bottom: 5vh;
    font-size: 4vw;
    font-weight: 400;
    color: var(--fontcolor1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-tittle::before {
    content: '';
    position: absolute;
    height: 0.5vw;
    width: 2.5vw;
    background: var(--bluemedium);
    bottom: 0;
    border-radius: 55px;
    transition: 0.8s ease-in-out all;
}

.how-work:hover .work-tittle::before {
    width: 95%;
}







/*Responsive Area*/





@media screen and (max-width:800px) {
    .advantages {
        width: 90%;
        flex-wrap: wrap;
        border-radius: 35px;
    }

    .advantage-info {
        padding: 1vh 2.5vw;
        margin-top: 3vh;
        border-radius: 45px;
    }

    
    .advantage-info h2 {
        font-size: 3.5vw;
    }
    
    .advantage-info i {
        font-size: 3.5vw;
        margin-right: 2vw;
    }

    
    .work-tittle {
        width: 95%;
        margin-bottom: 2vh;
        font-size: 5.4vw;
    }

    .work-tittle::before {
        content: '';
        position: absolute;
        height: 0.7vw;
        width: 98%;
    }
    
    .inner-how-work {
        padding: 6vh 1.5vw;
        flex-direction: column;
    }

    .how-work-box {
        width: 90%;
        margin-top: 5vh;
    }

    .how-work-box h2 {
        font-size: 5vw;
        font-weight: 600;
    }
    
    .how-work-box img {
        width: 100%;
        height: 38vh;
        margin-top: 5vh;
    }
    
    .how-work-box p {
        font-size: 2.2vw;
        margin-top: 4vh;
    }
    
}