@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: initial;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: none;
    font-family: Kanit, sans-serif;
}

:root {
    --light1:rgb(215, 215, 215);
    --light2:rgb(235, 235, 235);
    --light3:rgb(255, 255, 255);
    --fontcolor1: rgba(0, 0, 0, 0.9);
    --fontcolor2: rgba(0, 0, 0, 0.7);
    --fontcolor3: rgba(0, 0, 0, 0.5);
    --bluelight: #a2d6f9;
    --bluemedium: #1e96fc;
    --bluedark: #072ac8;
    --yellow:#fcf300;
    --yellowdark: #ffc600;
}

body {
    background: var(--light1);
    display: flex;
    flex-direction: column;
    align-items: center;

}


header {
    display: flex;
    width: 100vw;
    position: fixed;
    margin-top: 2.5vh;
    align-items: center;
    justify-content: center;
    z-index: 999;
}





