.principal-text {
    width: 88vw;
    margin-top: 25vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.text-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.text-right h1 {
    font-size: 6.8vw;
    
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    line-height: 7.5vw;
    color: var(--fontcolor1);
    cursor: default;
    transition: 0.5s ease all;
}

.principal-text span {
    color: var(--bluedark);
    font-style: italic;
    text-transform: uppercase;
    transition: 0.5s ease all;
}

.principal-text h1:hover  {
    color: var(--bluemedium);
}


.principal-text h1:hover span {
    letter-spacing: 25px;
}

.bio-examples {
    width: 45%;
    height: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.bio-box:nth-child(1) {
    width: 24vw;
    height: 32vw;
    background: var(--light3);
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    animation: jump-box2 8s ease-in-out infinite;
    position: absolute;
    z-index: 799;
    right: 0;
}

.bio-box:nth-child(2) {
    width: 24vw;
    height: 32vw;
    top: 0;
    left: 0;
    background: var(--light3);
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    animation: jump-box3 10s ease-in-out infinite;
    position: absolute;
    z-index: 899;
}




@keyframes jump-box2 {
    0%{
        margin-top: 0vh;
    }
    50%{
        margin-top: 5vh;
    }
    100%{
        margin-top: 0vh;
    }
    
}

@keyframes jump-box3 {
    0%{
        margin-top: 0vh;
    }
    50%{
        margin-top: -5vh;
    }
    100%{
        margin-top: 0vh;
    }
    
}

.input-box {
    display: flex;
    position: relative;
    border: 2px solid var(--bluemedium);
    border-radius: 10px;
    align-items: center;
    margin-top: 5vh;
    margin-left: 5vw;
    transition: 0.3s ease all;
}

.input-box:hover {
    border: 2px solid var(--bluedark);
}

.text-input h2 {
    font-size: 1.3vw;
    font-weight: 400;
    padding-left: 1vw;
}

.input-box input {
    background: transparent;
    font-size: 1.3vw;
    width: 12vw;
}

.input-box .link {
    background: var(--bluemedium);
    background-repeat: repeat;
    padding: 1vh 1vw;
    font-size: 1.4vw;
    color: var(--light3);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: 0.3s ease all;
}

.input-box:hover .link {
    background: var(--bluedark);
    cursor: pointer;
}

.error-text {
    margin-top: 0.2vh;
    margin-left: 6vw;
    position: relative;
    height: 0vh;
}

.error-text h2 {
    color: red;
    font-weight: 300;
    font-size: 1vw;
    position: relative;
}


.under-text {
    margin-top: 4vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.under-text h2 {
    font-size: 1.5vw;
    font-weight: 400;
    color: var(--fontcolor3);
}












/*Responsive Area*/



@media screen and (max-width: 800px) {
    .principal-text {
        width: 90vw;
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .text-right h1 {
        font-size: 14vw;
        
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
        line-height: 13.5vw;
        color: var(--fontcolor1);
        cursor: default;
        transition: 0.5s ease all;
    }

    .principal-text h1:hover span {
        letter-spacing: 0px;
    }

    .input-box {
        display: flex;
        position: relative;
        border: 2px solid var(--bluemedium);
        border-radius: 10px;
        align-items: center;
        margin-top: 5vh;
        margin-left: 5vw;
    }
    
    .text-input h2 {
        font-size: 3.9vw;
        padding-left: 3vw;
    }
    
    .input-box input {
        font-size: 3.8vw;
        width: 30vw;
    }
    
    .input-box .link {
        background: var(--bluemedium);
        background-repeat: repeat;
        padding: 1vh 1vw;
        font-size: 3.9vw;
        color: var(--light3);
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        transition: 0.3s ease all;
    }
    
    .input-box:hover .link {
        background: var(--bluedark);
        cursor: pointer;
    }
    
    .error-text {
        margin-top: 0.3vh;
    }
    
    .error-text h2 {
        font-size: 3vw;
    }

    .under-text h2 {
        font-size: 4vw;
        font-weight: 400;
        color: var(--fontcolor3);
    }

    .bio-examples {
        width: 80vw;
        height: 70vw;
        margin-top: 15vh;
    }

    .bio-box:nth-child(1) {
        width: 46vw;
        height: 59vw;
        background: var(--light3);
        border-radius: 25px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        animation: jump-box2 8s ease-in-out infinite;
        position: absolute;
        z-index: 799;
        right: 0;
    }
    
    .bio-box:nth-child(2) {
        width: 46vw;
        height: 59vw;
        top: 0;
        left: 0;
        background: var(--light3);
        border-radius: 25px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        animation: jump-box3 10s ease-in-out infinite;
        position: absolute;
        z-index: 899;
    }
    
}