
:root {
    --fontcolor1: #405857;
    --fontcolor2: #2b6d6abb;
}

.background-bio {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #f2dece;
    top: 0;
    bottom: 0;
    left: 0;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    background-repeat: no-repeat;
    box-shadow: 0 0 120px rgba(0,0,0,0.6) inset;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.bio-user {
    background: #de6f4e;
      position: relative;
      backface-visibility: visible;
      box-shadow: 0 2px 25px #feda3711,
      0 8px 45px #feda3711,
      0 18px 75px #feda3711,
      0 55px 105px #feda372d;
}   

.social-area .social-btt {
    background: transparent;
    font-size: 2.5vw;
    color: var(--fontcolor1);
    transition: 0.3s ease all;
}

.social-area .social-btt:hover {
    transform: translateY(-0.5vh);
    cursor: pointer;
    color: #03fff2;
}



.default-button {
    width: 90%;
    color: var(--fontcolor1);
    border: 2px solid var(--fontcolor1);
}





.default-button:hover {
    color: white;
    background: var(--fontcolor1);
    border: 2px solid var(--fontcolor1);
}