:root {
    --light1:rgb(215, 215, 215);
    --light2:rgb(235, 235, 235);
    --light3:rgb(255, 255, 255);
    --fontcolor1: rgba(0, 0, 0, 0.9);
    --fontcolor2: rgba(0, 0, 0, 0.7);
    --fontcolor3: rgba(0, 0, 0, 0.5);
    --bluelight: #a2d6f9;
    --bluemedium: #1e96fc;
    --bluedark: #072ac8;
    --yellow:#fcf300;
    --yellowdark: #ffc600;
}


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: initial;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: none;
    font-family: Kanit, sans-serif;
}


body {
    background: var(--light1);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 97vh;
    position: relative;
}


.background-bio {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(45deg,var(--bluemedium),var(--bluedark));
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
}


.personalizar {
    background: var(--light3);
    padding: 0.8vw 0.8vw;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1vw;
    margin-right: 1vw;
    transition: 0.2s ease all;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.personalizar-user {
    left: 0;
    right: auto;
}

.personalizar-social {
    margin-top: -1.5vw;
    margin-right: 0vw;
}

.personalizar:hover {
    color: var(--bluemedium);
    transform: scale(1.1);
    cursor: pointer;
}

.bio-user {
    width: 48vw;
    background: var(--light3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    z-index: 999;
    position: relative;
    border-radius: 35px;
    padding: 4vh 2vw;
}   

.user-edit {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.user-edit img {
    border-radius: 100%;
    width: 10vw;
}

.user-edit h2 {
    font-size: 2vw;
    margin-top: 2vh;
    color: var(--fontcolor1);
    font-weight: 600;
}

.user-edit p {
    font-size: 1vw;
    margin-top: 1vh;
    color: var(--fontcolor2);
    font-weight: 500;
    text-align: center;
}


.social-area {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4vh;
    position: relative;
}

.social-area .social-btt {
    background: transparent;
    font-size: 2.5vw;
    color: var(--fontcolor1);
}


.buttons-area {
    width: 100%;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.default-button {
    width: 90%;
    border-radius: 50px;
    padding: 2vh 2vw;
    margin-top: 2vh;
    display: flex;
    background: transparent;
    border: 2px solid var(--fontcolor1);
    align-items: center;
}

.left-button {
    width: 5vw;

    font-size: 2vw;
}