* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: initial;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: none;
    font-family: Kanit, sans-serif;
}

:root {
    --light1:rgb(215, 215, 215);
    --light2:rgb(235, 235, 235);
    --light3:rgb(255, 255, 255);
    --fontcolor1: rgba(0, 0, 0, 0.9);
    --fontcolor2: rgba(0, 0, 0, 0.7);
    --fontcolor3: rgba(0, 0, 0, 0.5);
    --bluelight: #a2d6f9;
    --bluemedium: #1e96fc;
    --bluedark: #072ac8;
    --yellow:#fcf300;
    --yellowdark: #ffc600;
}

body {
    background: var(--light1);
    display: flex;
    flex-direction: column;
    align-items: center;

}


header {
    display: flex;
    width: 100vw;
    position: fixed;
    margin-top: 2.5vh;
    align-items: center;
    justify-content: center;
    z-index: 999;
}





.menu-bio {
    position: relative;
    top: 0;
    display: flex;
    width: 90%;
    padding: 3vh 0vw;
    justify-content: space-between;
}

.menu-bio img {
    width: 8.5vw;
}

.menu-bio button {
    background: transparent;
}


.user-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;
}

.user-area img {
    width: 3vw;
    border-radius: 200px;
}

.user-area:hover .user-logout {
    display: flex;
}

.user-logout {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--light2);
    margin-top: 22vh;
    padding: 2vh 1vw;
    border-radius: 15px;
    width: 10vw;
}

.user-logout button {
    margin-top: 1vh;
    background:var(--bluemedium);
    width: 100%;
    padding: 1vh 0vw;
    font-size: 1.5vw;
    font-weight: 600;
    color: white;
    border-radius: 150px;
}

.user-logout h2 {
    font-size: 1.5vw;
    color: var(--fontcolor1);
    font-weight: 600;
}

.top-area {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.top-area h1 {
    font-size: 7vw;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    color: var(--fontcolor1);
}

.top-buttons {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vh;
}

.top-buttons button {
    width: 45%;
    background: transparent;
    font-size: 2vw;
    border-radius: 205px;
    border: 3px solid var(--bluemedium);
    padding: 1.5vh 0vw;
    font-weight: 600;
    transition: 0.3s ease all;
}


.top-buttons button:first-child:hover {
    background: transparent;
    border: 3px solid var(--bluemedium);
    color: var(--fontcolor1);
    cursor: pointer;
}

.top-buttons button:last-child:hover {
    background: var(--bluemedium);
    color: white;
    cursor: pointer;
}


.top-buttons button:first-child {
    background: var(--bluemedium);
    color: white;
}



.dashboard {
    margin-top: 5vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.links {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 60vh;
    background: var(--light2);
    border-radius: 35px;
    padding: 2vh 2vw;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}

.add-link {
    width: 90%;
    background: var(--bluemedium);
    border-radius: 200px;
    padding: 1.5vh 0vw;
    font-size: 1.5vw;
    color: white;
    font-weight: 600;
    margin-top: 2vh;
    border: 3px solid var(--bluemedium);
    transition: 0.3s ease all;
}

.add-link:hover {
    width: 90%;
    background: transparent;
    border: 3px solid var(--bluemedium);
    color: var(--fontcolor1);
    cursor: pointer;
}

.link-flow {
    overflow-y: scroll;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    height: 45vh;
    padding: 2vh 2vw;
    background: var(--light1);
    border-radius: 25px;
    align-items: center;
}

.link-box {
    width: 90%;
    display: flex;
    margin-top: 2vh;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--light2);
    padding: 1.5vh 1vw;
}

.link-box h2 {
    color: var(--fontcolor1);
    font-size: 1.5vw;
    font-weight: 600;
}

.link-box h3 {
    color: var(--fontcolor1);
    font-size: 1.5vw;
    font-weight: 500;
}

.link-box button {
    background: transparent;
    width: 10%;
    font-size: 1.3vw;
    color: var(--fontcolor1);
}

.link-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-top: 4vh;
}




.charts-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 92%;
    margin-top: 8vh;
    justify-content: space-around;
    align-items: flex-start;
}

.chart-box {
    background: var(--light2);
    padding: 2.5vh 2vw;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart-box h2 {
    font-size: 2vw;
    color: var(--fontcolor1);
    font-weight: 600;
    letter-spacing: 1px;
}

#chart_div {
    font-weight: 600;
}



